@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-inter);
}

@theme {
    --color-background: #1f2028; 
    --color-surface: #2a2b37; 
    --color-text: #e2e8f0;
    --color-heading: #f8fafc;
    --color-primary: #c4b5fd; 
    --color-secondary: #99F6E4;
    --color-accent: #FDC4B5;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}